.grid-container
	.grid-wrapper
		.grid-items
			.grid-item
				border: 2px solid $color_secondary_dark
				&:hover
					.gif-details
						.gif-title
							background:
								color: $color_green
						.gif-rating
							background:
								color: $color_yellow
				.gif-instructions
					border-top: 2px solid $color_secondary_dark
					background:
						color: $color_purple